:root{
    font-size: 62.5%;

    --light-colour: #ffffff;
    --dark-colour: #0f0f11;
}

*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body{
    --main-content-min-height: 80rem;
    --main-content-min-width: 60rem;

    font-size: 1.6rem;
    font-family: Papyrus, fantasy, sans-serif;

    width: 100dvw;
    min-width: var(--main-content-min-width);
    height: 100dvh;
    min-height: var(--main-content-min-height);

    color: white;

    display: flex;
    flex-direction: column;

    overflow: auto;
}

header{
    --header-container-height: 8rem;

    --header-container-padding: 0 max(8%, 4rem);
    
    --header-title-font-size: 1.1rem;
    --header-title-font-weight: 550;

    height: var(--header-container-height);

    padding: var(--header-container-padding);

    font-size: var(--header-title-font-size);
    font-weight: var(--header-title-font-weight);

    background: linear-gradient(to right, rgb(61, 61, 61), rgb(15, 15, 15));

    border-bottom-width: .3rem;
    border-bottom-style: solid;
    border-bottom-color: black;

    display: flex;
    align-items: center;
    justify-content: space-between;

}

main{
    flex: 1 0 0;
    height: 0;
    width: 100%;

    

    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: minmax(0, 1fr)
                        minmax(0, 1.8fr);

    overflow: hidden;

    position: relative;
    z-index: 0;
}

main .upper-image-container{
    --upper-image-font-size-title: 10rem;
    --upper-image-font-weight-title: 700;


    grid-area: 1 / 1 / 1 / 1;

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    row-gap: 2rem;

    color: black;

    background-image: url(./images/background-bookshelf.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 30%;

    overflow: hidden;

    z-index: -1;
}

main .upper-image-container .upper-image-title{
    font-size: var(--upper-image-font-size-title);
    font-weight: var(--upper-image-font-weight-title);
}

main .upper-image-container #add-book{
    --drop-shadow-colour: rgb(85, 85, 85);

    width: 30rem;
    height: 8rem;

    filter: drop-shadow(.4rem .4rem 1rem var(--drop-shadow-colour)) 
            drop-shadow(.4rem .4rem 1.5rem var(--drop-shadow-colour))
            drop-shadow(.4rem .4rem 2rem var(--drop-shadow-colour));

    cursor: pointer;
    user-select: none;




    & path{
        fill: var(--dark-colour);

        transition: fill 200ms linear;
    }

    & text{
        fill: var(--light-colour);
        stroke: var(--light-colour);

        transition: fill 200ms linear,
                    stroke 200ms linear;
    }


    transition: transform 100ms linear;
}




main .upper-image-container #add-book:active{
    transform: scale(96%);
}




























.home-container{
    --home-container-shadow-height: 1rem;

    --home-container-padding: max(1rem, var(--home-container-shadow-height))
                              0
                              0;

    grid-area: 2 / 1 / 2 / 1;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 100%;

    margin-top: auto;

    background: linear-gradient(to bottom right, darkgrey, rgb(31, 31, 31));


    position: relative;
}

.home-container::before{
    content: '';

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: var(--home-container-shadow-height);

    background: linear-gradient(to bottom, rgb(53, 53, 53), transparent);
}

ul.books-container{
    list-style-type: none;

    display: flex;

    height: 40rem;
    width: auto;

    padding: 3rem 3rem;

    border: .2rem var(--light-colour) solid;
    border-radius: .6rem;
}

ul.books-container li{
    --books-padding-top-bottom: 2rem;

    width: 23rem;
    height: 100%;

    border-radius: 1rem;

    box-shadow: 2rem 2rem 2rem rgb(43, 43, 43),
                inset 0rem calc(-1 * var(--books-padding-top-bottom)) 4rem rgba(12, 12, 12, 0.3);

    background-color: #dbd9c9;
    color: black;

    padding: var(--books-padding-top-bottom) 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    text-align: center;
}

ul.books-container li .book-title{
    font-size: 2rem;
    font-weight: 700;
}


ul.books-container li .book-description{
    
}

ul.books-container li .book-buttons-container{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 4rem;
}

.book-buttons-container button{
    height: 100%;
    aspect-ratio: 1;

    padding: .4rem;

    border: 0;
    border-radius: .5rem;

    background-color: transparent;

    cursor: pointer;
}



.book-buttons-container button svg{
    fill: rgb(73, 73, 73);
}


@media (hover: hover){
    main .upper-image-container #add-book:hover path{
        fill: var(--light-colour);
    }

    main .upper-image-container #add-book:hover text{
        fill: var(--dark-colour);
        stroke: var(--dark-colour);
    }


    .book-buttons-container button:hover{
        background-color: rgba(163, 163, 163, 0.4);
    }


}