:root{
    font-size: 62.5%;

    /* --books-li-min-width: 23rem; */

    
}

*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body{
    --light-colour: #ffffff;
    --dark-colour: #0f0f11;

    --book-li-bcg: #dbd9c9;


    font-size: 1.6rem;
    font-family: Papyrus, fantasy, sans-serif;

    width: 100dvw;
    height: 100dvh;

    color: black;

    /* min-width: 50rem;
    min-height: 78rem; */

    display: flex;
    flex-direction: column;

    overflow: auto;

    /* overflow: auto; */
}

header{
    --header-container-height: 8rem;

    --header-container-padding: 0 max(8%, 4rem);
    
    --header-title-font-size: 1.1rem;
    --header-title-font-weight: 550;

    flex-shrink: 0;

    color: white;

    height: var(--header-container-height);

    padding: var(--header-container-padding);

    font-size: var(--header-title-font-size);
    font-weight: var(--header-title-font-weight);

    background: linear-gradient(to right, rgb(61, 61, 61), rgb(15, 15, 15));

    border-bottom-width: .3rem;
    border-bottom-style: solid;
    border-bottom-color: black;

    display: flex;
    align-items: center;
    justify-content: space-between;

}










main{
    --home-container-shadow-size: 1rem;

    flex: 1;

    height: 0;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto
                        minmax(auto, 1fr);

    position: relative;
    z-index: 0;
}

main .upper-image-container{
    --upper-image-row-gap: 2rem;

    --upper-image-padding: 2rem;

    --upper-image-font-size-title: 10rem;
    --upper-image-font-weight-title: 700;

    --upper-image-width-add-book: 30rem;
    --upper-image-asp-ratio-add-book: 3.75;

    grid-area: 1 / 1 / 1 / 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    row-gap: var(--upper-image-row-gap);

    padding: var(--upper-image-padding);

    background-image: url(../images/background-bookshelf.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 30%;

    position: relative;

    /* overflow: hidden; */

    /* z-index: -1; */
}



main .upper-image-container::after{
    content: '';

    position: absolute;
    bottom: calc(var(--home-container-shadow-size) * -1);
    left: 0;

    width: 100%;
    height: var(--home-container-shadow-size); /* These two will need to switch as well */

    background: linear-gradient(to bottom, rgb(53, 53, 53), transparent);
}



main .upper-image-container .upper-image-title{
    --text-shadow-colour: rgba(111, 111, 111, 1);

    flex-shrink: 0;

    font-size: var(--upper-image-font-size-title);
    font-weight: var(--upper-image-font-weight-title);

    text-shadow: calc(var(--upper-image-font-size-title) / 10) 
                 calc(var(--upper-image-font-size-title) / 10)
                 calc(var(--upper-image-font-size-title) / 10)
                 var(--text-shadow-colour);
}

main .upper-image-container #add-book{
    --drop-shadow-colour: rgb(85, 85, 85);

    flex-shrink: 0;

    width: var(--upper-image-width-add-book);
    aspect-ratio: var(--upper-image-asp-ratio-add-book);

    filter: drop-shadow(calc(var(--upper-image-width-add-book) / 75) calc(var(--upper-image-width-add-book) / 75) calc(var(--upper-image-width-add-book) / 30) var(--drop-shadow-colour)) 
            drop-shadow(calc(var(--upper-image-width-add-book) / 75) calc(var(--upper-image-width-add-book) / 75) calc(var(--upper-image-width-add-book) / 20) var(--drop-shadow-colour))
            drop-shadow(calc(var(--upper-image-width-add-book) / 75) calc(var(--upper-image-width-add-book) / 75) calc(var(--upper-image-width-add-book) / 15) var(--drop-shadow-colour));

    cursor: pointer;
    user-select: none; /* Doesn't highlight the text element */

    transition: transform 100ms linear;

    & path{
        fill: var(--dark-colour);

        transition: fill 200ms linear;
    }

    & text{
        fill: var(--light-colour);
        stroke: var(--light-colour);

        transition: fill 200ms linear,
                    stroke 200ms linear;
    }
}

main .upper-image-container #add-book:active{
    transform: scale(92%);
}





























main .home-container{

    --home-container-padding: max(2.5rem, var(--home-container-shadow-size))
                              3rem; /* Will need switching in terms of padding  from vertical to horizontal */

    

    grid-area: 2 / 1 / 2 / 1;

    display: flex;
    align-items: flex-start;
    justify-content: center;

    /* min-height: auto; */

    padding: var(--home-container-padding);

    background: linear-gradient(to bottom right, darkgrey, rgb(31, 31, 31));

    /* position: relative; */

    /* */

    /* overflow-y: auto; */
}

main ul.books-container{
    --book-item-width: 23rem;

    --ul-books-container-row-gap: 3rem;
    --ul-books-container-column-gap: 3rem;

    --ul-books-container-padding: 3rem;

    list-style-type: none;

    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--books-li-min-width), 1fr)); */

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--book-item-width), 1fr));

    row-gap: var(--ul-books-container-row-gap);
    column-gap: var(--ul-books-container-column-gap);

    /* overflow: auto; */

    padding: var(--ul-books-container-padding);

    border: .2rem var(--light-colour) solid;
    border-radius: .6rem;

    max-width: 100%;
}


main ul.books-container[empty]{
    width: 100%;
    height: 100%;
}



/* Book Item styling */





ul.books-container .book-item{
    
    --book-item-min-height: 41.5rem;

    --book-item-row-gap: 1.8rem;

    --book-item-padding: 2rem; /* Used to be 2rem */

    --book-item-border-radius: 2%;

    flex-shrink: 0;

    box-shadow: calc(var(--book-item-width) / 11) calc(var(--book-item-width) / 11) calc(var(--book-item-width) / 11) rgb(43, 43, 43),
                inset 0rem calc(-1 * var(--book-item-padding)) calc(var(--book-item-padding) * 2) rgba(12, 12, 12, 0.3);

    width: var(--book-item-width);
    height: auto;

    min-height: var(--book-item-min-height);

    padding: var(--book-item-padding);

    border-radius: var(--book-item-border-radius);
    
    background-color: var(--book-li-bcg);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    row-gap: var(--book-item-row-gap);

    text-align: center;
}

ul.books-container .book-item .book-title{
    --book-item-font-size-title: 2rem;
    --book-item-font-weight-title: 700;

    flex-shrink: 0;

    font-size: var(--book-item-font-size-title);
    font-weight: var(--book-item-font-weight-title);
}

ul.books-container .book-item .book-description{
    flex-shrink: 0;

    /* vertical-align: text-top; */
}

ul.books-container .book-item .book-buttons-container{
    --book-item-asp-ratio-button-container: 5;

    flex-shrink: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    aspect-ratio: var(--book-item-asp-ratio-button-container);


    /* height: 3.8rem; */
}

ul.books-container .book-item .book-buttons-container button{
    --book-item-padding-buttons: .4rem;

    flex-shrink: 0;

    height: 100%;
    aspect-ratio: 1;

    padding: var(--book-item-padding-buttons);

    border: 0;
    border-radius: .5rem;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: transparent;

    cursor: pointer;

    transition: background-color 100ms linear;

    & svg{
        fill: rgb(73, 73, 73);

        transition: fill 100ms linear;
    }
}



ul.books-container .book-item .image-container{
    --book-item-asp-ratio-image-container: 0.95;

    flex-shrink: 0;
    flex-grow: 0;

    width: 100%;
    aspect-ratio: var(--book-item-asp-ratio-image-container);
    /* height: 20rem; */

    display: flex;
    align-items: center;
    justify-content: center;

    margin: auto 0;
}


ul.books-container .book-item .image-container .book-image{
    width: 100%;
    height: 100%;

    object-fit: contain;
    object-position: center;

    filter: drop-shadow(calc(var(--book-item-width) / 23) calc(var(--book-item-width) / 23) calc(var(--book-item-width) / 11.5) rgba(0, 0, 0, 1));
}

#light-blue{
    transform: scale(0.75);
}

#brown-sealed{
    transform: scale(0.9);
}

#dark-blue{
    transform: scale(1.15);
}





