:root{
    font-size: 62.5%;

    --light-colour: #ffffff;
    --dark-colour: #0f0f11;

    --books-li-min-width: 23rem;

    --book-li-bcg: #dbd9c9;

    --book-li-border-radius: 2%;




}

*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body{
    /* --main-content-min-height: 80rem;
    --main-content-min-width: 60rem; */

    font-size: 1.6rem;
    font-family: Papyrus, fantasy, sans-serif;

    width: 100dvw;
    height: 100dvh;

    min-width: 50rem;
    

    color: white;

    display: flex;
    flex-direction: column;

    overflow: auto;
}

header{
    --header-container-height: 8rem;

    --header-container-padding: 0 max(8%, 4rem);
    
    --header-title-font-size: 1.1rem;
    --header-title-font-weight: 550;

    flex-shrink: 0;

    height: var(--header-container-height);

    padding: var(--header-container-padding);

    font-size: var(--header-title-font-size);
    font-weight: var(--header-title-font-weight);

    background: linear-gradient(to right, rgb(61, 61, 61), rgb(15, 15, 15));

    border-bottom-width: .3rem;
    border-bottom-style: solid;
    border-bottom-color: black;

    display: flex;
    align-items: center;
    justify-content: space-between;

}

main{
    flex-grow: 1;
    flex-shrink: 0;

    height: 0;
    width: 100%;



    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: minmax(0, 1fr)
                        minmax(0, 1.8fr);



    position: relative;
    z-index: 0;
}

main .upper-image-container{
    --upper-image-font-size-title: 10rem;
    --upper-image-font-weight-title: 700;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;

    grid-area: 1 / 1 / 1 / 1;

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    row-gap: 2rem;

    color: black;

    background-image: url(../images/background-bookshelf.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 30%;

    overflow: hidden;

    z-index: -1;
}

main .upper-image-container .upper-image-title{
    flex-shrink: 0;

    font-size: var(--upper-image-font-size-title);
    font-weight: var(--upper-image-font-weight-title);

    text-shadow: 1rem 1rem 1rem rgba(111, 111, 111, 1);
}

main .upper-image-container #add-book{
    --drop-shadow-colour: rgb(85, 85, 85);

    flex-shrink: 0;

    width: 30rem;
    height: 8rem;

    filter: drop-shadow(.4rem .4rem 1rem var(--drop-shadow-colour)) 
            drop-shadow(.4rem .4rem 1.5rem var(--drop-shadow-colour))
            drop-shadow(.4rem .4rem 2rem var(--drop-shadow-colour));

    cursor: pointer;
    user-select: none;




    & path{
        fill: var(--dark-colour);

        transition: fill 200ms linear;
    }

    & text{
        fill: var(--light-colour);
        stroke: var(--light-colour);

        transition: fill 200ms linear,
                    stroke 200ms linear;
    }


    transition: transform 100ms linear;
}




main .upper-image-container #add-book:active{
    transform: scale(92%);
}




























main .home-container{
    --home-container-shadow-height: 1rem;

    --home-container-padding: max(2.5rem, var(--home-container-shadow-height))
                              3rem;

    

    grid-area: 2 / 1 / 2 / 1;

    display: flex;
    align-items: flex-start;
    justify-content: center;

    height: 100%;
    width: 100%;

    min-height: auto;

    padding: var(--home-container-padding);

    background: linear-gradient(to bottom right, darkgrey, rgb(31, 31, 31));

    /* overflow: hidden; */

    position: relative;
}

main .home-container::before{
    content: '';

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: var(--home-container-shadow-height);

    background: linear-gradient(to bottom, rgb(53, 53, 53), transparent);
}













main ul.books-container{
    list-style-type: none;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--books-li-min-width), 1fr));

    gap: 3rem;

    overflow: auto;

    padding: 3rem 3rem;

    border: .2rem var(--light-colour) solid;
    border-radius: .6rem;

    height: 100%;
    width: auto;

    max-width: 100%;
}


ul.books-container .book-item{
    --books-padding: 2rem;

    flex-shrink: 0;

    box-shadow: 2rem 2rem 2rem rgb(43, 43, 43),
                inset 0rem calc(-1 * var(--books-padding)) 4rem rgba(12, 12, 12, 0.3);

    width: var(--books-li-min-width);
    height: auto;

    border-radius: var(--book-li-border-radius);
    

    background-color: var(--book-li-bcg);
    color: black;

    padding: var(--books-padding);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    row-gap: 1.8rem;

    text-align: center;
}

ul.books-container .book-item .book-title{
    font-size: 2rem;
    font-weight: 700;
}

ul.books-container .book-item .book-buttons-container{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 3.8rem;
}

.book-buttons-container button{
    height: 100%;
    aspect-ratio: 1;

    padding: .4rem;

    border: 0;
    border-radius: .5rem;

    background-color: transparent;

    cursor: pointer;

    
}

button:has(svg){
    transition: background-color 100ms linear;
}


button svg{
    fill: rgb(73, 73, 73);

    transition: fill 100ms linear;
}



.image-container{
    flex-shrink: 0;
    flex-grow: 0;

    width: 100%;
    height: 20rem;

    display: flex;
    align-items: center;
    justify-content: center;

    margin: auto 0;
}


.book-image{
    width: 100%;
    height: 100%;

    object-fit: contain;

    filter: drop-shadow(1rem 1rem 2rem rgba(0, 0, 0, 1));
}

#light-blue{
    transform: scale(0.85);
}

#brown-sealed{
    transform: scale(0.9);
}

#dark-blue{
    transform: scale(1.15);
}





